/* General */

body, html { /* prend la page a 100% et fond blanc */

    height: 100%;
    background-color: #323232;
}

* {
    font-family: arial, sans-serif;
}

img { /* Image dans le 1er plan */

    z-index: 1; 
    position: relative; 
}


/* Header */

header {
    
    display: flex; 
    height: 20%; 
    background-color: #0b486b; 
    justify-content: center; 
}

#image_profil img { /* taille de la photo de profil */

    max-width: 100%; 
    height: auto; 
}

#profil_texte {
    
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    color: white; /* texte en blanc */
    width: 90%; /* prend 90% de l'espace et laisse 10% a l'image */
}

header h1 {
    
    display: flex;
    justify-content: center;
}

#deroulant > a { /* Desactiver le bouton et le rendre invisible */

    pointer-events: none;
    display: none;
}

    
header ul { /* navgation */

    list-style: none;
    display: flex;
    justify-content: space-around;
    
}

header a { /* Liens */

    text-decoration: none;
}


/* Section */

section {
    
    display: flex;
    flex-direction: row; /* mettre aside a gauche */
    width: 100%; 
    height: 80%; /* les 20% sont avec le header */
    
}

aside {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%; /* prend la page en long */
    width: 20%; /* prend 20% en large */
    background-color: #0b486b; 
    color: white; /* couleur texte */
    background-image: linear-gradient(to right, #0b486b 80%,#323232) /* Degrader */
}


article {
    
    margin-top: 5%; 
    width: 50%; 
    margin-left: 15%; /* centrer l'article */
    text-align: justify;
    color: white;
}


article h2 { /* Titre de l'article */

   text-align: center;
    margin-bottom: 10%;
}


#coordonnees, #site_web {
    
    margin-left: 5%;
    margin-bottom: 5%;
}
#coordonnees ul {
    
    margin-left: -10%;
}

#logo_site_web {
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#logo_site_web img { /* Taille de logo */

    max-width: 70%;
    height: auto;
    margin-right: 5%;
}

/* Lien */

header a:link , #coordonnees a:link, #graphiste a:link {
    color: white;
}

header a:visited, #coordonnees a:visited, #graphiste a:visited {
    color: white;
}

header a:focus, #coordonnees a:focus, #graphiste a:focus {
    background: grey;
}

header a:hover, #coordonnees a:hover, #graphiste a:hover {
    background-color: grey;
}

header a:active, #coordonnees a:active, #graphiste a:active {
    background-color: grey;
}

article a:link {
    color: white;
}

article a:visited {
    color: white;
}

article a:focus {
    background: grey;   
}

article a:hover {
    background-color: grey;
}

article a:active {
    background-color: grey;
}


/* Effet de grossissement sur les logo */

#logo_site_web img { /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */

    transition: all 1s ease;
}
#logo_site_web a:hover img { /* L'image est grossie de 25% */
    
    transform:scale(1.25);
}


/* Interface sur smartphone */

@media all and (max-device-width: 480px) {
    
    /* General */
    body, html {
    
        height: auto;
    }
    
    /* Header */
    header {
    
        display: flex; 
        flex-direction: column; /* mettre l'image de profil et le texte sur la meme colonne */
        height: auto;
        align-items: center;
    }
    
    #image_profil img { /* taille de la photo de profil */
    
        max-width: 50%; 
        height: auto; 
    }
    
    #image_profil p {
    
        display: flex;
        justify-content: center;
    }
    

    #profil_texte {
    
        text-align: center;
    }

    #deroulant > a { /* Activer le bouton et le rendre visible */
    
        pointer-events: visible;
        display: contents;
    }
    
    nav div, nav li {
        
        text-align: center;
    }

    nav a {
        
        display: block;
        text-decoration: none;
        padding: 5%;
    }

    #sous { /* rendre les pages invisible */
        
        display: none;
        background-color: #0b486b;
        z-index: 1;
    }
    nav div:hover #sous { /* Afficher les pages du menu */
        
        display: flex;
        flex-flow: column wrap;
    }
    
    #sous li {   
        
        text-align: left;
    }
    
    
    /* Section */

    section {
    
        display: flex;
        flex-direction: column-reverse; /* mettre aside en bas */
        height: auto;

    }

    article {
    
        margin: 5%;
        width: auto; 
    }
    
    aside {
    
        height: auto;
        width: 100%;
        background-image: linear-gradient(to top, #0b486b 80%,#323232);
    }

}